<% layout('layouts/boilerplate') %>
<div class="container text-center mb-5 h-50 d-flex flex-column justify-content-center align-items-center color-quaternary rounded-3 p-4">
    <h1>Pay It Forward</h1>
    <p class="lead mt-3 mb-4">
        Put up items that you would like to get rid of but are still in good enough condition that someone else can use it. 
        In this page, you can help your community by passing along items such as kids toys, supplies, kitchenware, and anything
        else that is still in good enough condition for another person or family to use and enjoy.
    </p>
    <a href="/products" class="btn btn-large font-weight-bold color-dark">View Our Products</a>
</div>
<div class="container text-center mb-3 p-4 color-tertiary rounded-3">
    <h2>How It Works</h2>
    <p class="lead">
        Explore all the items already up on our page. If you see an item you would like, claim it! You will then be
        put in contact with the owner to figure out the best way to transfer the item. 
        <br> <br>
        You can also put up items yourself by simply pressing new product on the top of the page.
        After creating an account, and putting some basic information about the item, you are all set!
        Enjoy sharing your items forward!
    </p>
</div>

